{% extends "layout.njk" %}
{% block  content %}
<nav class="navbar">
  <div class="navbar__inner container">
      <a href="/" class="logo">Home</a>
      <button class="navbar__button" aria-label="Open menu">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M3 18v-2h18v2Zm0-5v-2h18v2Zm0-5V6h18v2Z"/></svg>
      </button>
      <div class="navbar__collapse">
          <ul class="menu">
              <li><a href="/views/meme.njk">MemePage</a></li>
              <li><a href="/views/error.njk">Error</a></li>
          </ul>
      </div>
  </div>
</nav>


  <h1>{{message}}</h1>

  <div class="column">
    <div class="flex">
    <img src="/images/meme.jpg" alt="">
    <img src="/images/meme1.jpg" alt="">
    <img src="/images/meme2.jpg" alt="">
    <img src="/images/meme3.png" alt="">
</div>
</div>
<script src="js/menu.js"></script>

{% endblock %}